.container{
  color:#2d31a1;
  font-size:x-large;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #2d31a1;
  text-align: center;
}

.boton{
  text-align: center;
  background-color: #2d31a1;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
